
.percentage{
    width: 155px;
    text-align: center;
}
.container{
    width:300px;
    height:300px;

}

.gauge{
    position:relative;
    width:150px;
    height:150px;
    border: 10px solid #333;
    border-radius: 50%;
    border-bottom: 10px dashed #fff;

}

.pointer{
    position: relative;
    top: 8%;
    left:47%;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 70px solid ;
    border-bottom-left-radius: 35%;
    border-bottom-right-radius: 35%;
    transform-origin: center bottom;
    transform: rotate(-125deg);
}

/*.animate {*/
/*-webkit-transition-duration: 1.5s;*/
/*!*-webkit-transition-property: 0 opacity;*!*/
/*-webkit-transition-timing-function: ease;*/
/*-moz-transition-duration: 1.5s;*/
/*-o-transition-duration: 1.5s;*/
/*transition-duration: 1.5s;*/
/*!*-moz-transition-property: 0 opacity;*!*/
/*!*-o-transition-property: 0 opacity;*!*/
/*!*transition-property: 0 opacity;*!*/
/*-moz-transition-timing-function: ease;*/
/*-o-transition-timing-function: ease;*/
/*transition-timing-function: ease;*/
/*}*/

.gauge:hover .pointerAnimation{
    transform: rotate(75deg);
    border-bottom-color: darkred;
}

/*@-webkit-keyframes rotation{*/
/*from {*/
/*-webkit-transform: rotate(-125deg);*/
/*}*/
/*to {*/
/*-webkit-transform: rotate(125deg);*/
/*border-bottom-color: green;*/
/*}*/
/*}*/

/*@keyframes rotation{*/
    /*from {*/
        /*transform: rotate(-125deg);*/
    /*}*/
    /*to {*/
        /*transform: rotate(-59.72223deg);*/
        /*border-bottom-color: green;*/
    /*}*/
/*}*/

.autoAnimation{
    animation: rotation 1000ms 1s forwards;
    -webkit-animation: rotation 1000ms 1s forwards;
}